<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="#"> EXPENSE tracker </a>
      <form class="d-flex" role="search">
        <a href="/logout" class="btn btn-outline-danger" type="submit"
          >Logout</a
        >
      </form>
    </div>
  </nav>
</div>
