<div class="container border border-dark d-flex justify-content-center align-items-center rounded">
    <h1>
        Login page
    </h1>
    <form action="POST">
        <input type="text" name="email" id="email">
    </form>
</div>